<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jewelry.vender.mapper.VenderMapper">
	
	<sql id="customer-search">
		<!-- 검색 키워드가 있을 때 -->
		<if test='searchword != null and !searchword.equals("")'>
			AND a.vender_nm LIKE CONCAT('%', <![CDATA[ #{searchword} ]]>, '%')
		</if>
	</sql>
	
	<select id="selectVenderListCount" parameterType="VenderTO" resultType="Integer">
		SELECT COUNT(a.vender_no)
		FROM tb_vender a
		WHERE a.del_yn = 'N'
		<include refid="customer-search" />
	</select>
	
	<select id="selectVenderList" parameterType="VenderTO" resultType="VenderVO"> <!-- 필요한거만 갖고오기. -->
		SELECT * 
		FROM tb_vender a
		WHERE a.del_yn = 'N'
		<include refid="customer-search" />
		ORDER BY a.vender_no DESC
		<include refid="commonMapper.paging" />
	</select>
	
	<select id="selectVender" parameterType="Long" resultType="VenderVO">
		SELECT *
		FROM tb_vender a
		WHERE a.vender_no = #{vender_no}  <!-- 값을 넘길때 #{} -->
	</select>
	
	<insert id="insertVender" parameterType="VenderTO">
		INSERT INTO tb_vender
		(
			inpt_id, inpt_dt
			<if test='vender_nm != null and !vender_nm.equals("")'>, vender_nm</if>
			<if test='business_nm != null and !business_nm.equals("")'>, business_nm</if>
			<if test='agent_cel != null and !agent_cel.equals("")'>, agent_cel</if>
			<if test='melt_cd != null and !melt_cd.equals("")'>, melt_cd</if>
			<if test='vat_cd != null and !vat_cd.equals("")'>, vat_cd</if>
			<if test='vender_cel1 != null and !vender_cel1.equals("")'>, vender_cel1</if>
			<if test='vender_cel2 != null and !vender_cel2.equals("")'>, vender_cel2</if>
			<if test='vender_fax != null and !vender_fax.equals("")'>, vender_fax</if>
			<if test='manager_nm != null and !manager_nm.equals("")'>, manager_nm</if>
			<if test='manager_cel != null and !manager_cel.equals("")'>, manager_cel</if>
			<if test='manager_email != null and !manager_email.equals("")'>, manager_email</if>
			<if test='etc != null and !etc.equals("")'>, etc</if>
	  	<if test='commerce != null and !commerce.equals("")'>, commerce</if>
		)
		VALUES (
			#{inpt_id}, NOW()
			<if test='vender_nm != null and !vender_nm.equals("")'>, #{vender_nm}</if>
			<if test='business_nm != null and !business_nm.equals("")'>, #{business_nm}</if>
			<if test='agent_cel != null and !agent_cel.equals("")'>, #{agent_cel}</if>
			<if test='melt_cd != null and !melt_cd.equals("")'>, #{melt_cd}</if>
			<if test='vat_cd != null and !vat_cd.equals("")'>, #{vat_cd}</if>
			<if test='vender_cel1 != null and !vender_cel1.equals("")'>, #{vender_cel1}</if>
			<if test='vender_cel2 != null and !vender_cel2.equals("")'>, #{vender_cel2}</if>
			<if test='vender_fax != null and !vender_fax.equals("")'>, #{vender_fax}</if>
			<if test='manager_nm != null and !manager_nm.equals("")'>, #{manager_nm}</if>
			<if test='manager_cel != null and !manager_cel.equals("")'>, #{manager_cel}</if>
			<if test='manager_email != null and !manager_email.equals("")'>, #{manager_email}</if>
			<if test='etc != null and !etc.equals("")'>, #{etc}</if>
	  	<if test='commerce != null and !commerce.equals("")'>, #{commerce}</if>
		)
	</insert>
	
	<update id="updateVender" parameterType="VenderTO">
		UPDATE tb_vender
		SET updt_dt = NOW()
		, updt_id = #{updt_id}
		<if test='vender_nm != null and !vender_nm.equals("")'>, vender_nm = #{vender_nm}</if>
		, business_nm = #{business_nm}
		, agent_cel = #{agent_cel}
		, vat_cd = #{vat_cd}
		, melt_cd = #{melt_cd}
		, vender_fax = #{vender_fax}
		, vender_cel1 = #{vender_cel1}
		, vender_cel2 = #{vender_cel2}
		, manager_nm = #{manager_nm}
		, manager_cel = #{manager_cel}
		, manager_email = #{manager_email}
		, etc = #{etc}
		, commerce = #{commerce}
		
		WHERE vender_no = #{vender_no}
	</update>
	
	<update id="updateCustomerToDelete" parameterType="CustomerTO">
		UPDATE tb_customer
		SET updt_dt = NOW()
		, updt_id = #{updt_id}
		, del_yn = 'Y'
		WHERE customer_no = #{customer_no}
	</update>
	
</mapper>