<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jewelry.vender.mapper.VenderMapper">

	<sql id="customer-search">
		<if test='searchstdt != null and !searchstdt.equals("")'>
			AND DATE_FORMAT(a.reg_dt, '%Y-%m-%d') <![CDATA[ >= ]]> STR_TO_DATE(#{searchstdt}, '%Y-%m-%d')
		</if>
		<if test='searcheddt != null and !searcheddt.equals("")'>
			AND DATE_FORMAT(a.reg_dt, '%Y-%m-%d') <![CDATA[ <= ]]> STR_TO_DATE(#{searcheddt}, '%Y-%m-%d')
		</if>
		<!-- 검색 키워드가 있을 때 -->
		<if test='searchword != null and !searchword.equals("")'>
			<choose>
				<!-- 검색 유형이 없을 때 -->
				<when test='searchtype == null or searchtype.equals("")'>
					AND (
				    a.contractor_nm LIKE CONCAT('%', #{searchword}, '%')
					)
				</when>
			</choose>
		</if>
	</sql>
	
	
</mapper>